.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #007BFF;
  padding: 0 20px;
  color: rgb(20, 19, 19);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
}

.notification-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: white;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.user-menu {
  left: auto;
  right: 0;
}

.notifications-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li,
.notifications-menu ul li {
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-menu ul li:hover,
.notifications-menu ul li:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .topbar {
    padding: 0 10px;
  }

  .user-icon {
    font-size: 20px;
  }

  .notification-icon {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .topbar {
    padding: 0 5px;
  }

  .user-icon {
    font-size: 18px;
  }

  .notification-icon {
    font-size: 18px;
  }
}
